on: workflow_dispatch
jobs:
  flake-check:
    name: "Flake checks"
    runs-on: ubuntu-24.04-arm
    steps:
      - name: "Checkout flake"
        uses: actions/checkout@v5
      - name: "Install nix"
        uses: cachix/install-nix-action@v31
      - name: "Use cachix"
        uses: cachix/cachix-action@v16
        with:
          name: socle
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: "Run checks"
        run: nix flake check
