on: workflow_dispatch
jobs:
  build-images:
    name: "Build SD images"
    runs-on: ubuntu-24.04-arm
    steps:
      - name: "Checkout flake"
        uses: actions/checkout@v5
      - name: "Install nix"
        uses: cachix/install-nix-action@v31
      - name: "Use cachix"
        uses: cachix/cachix-action@v16
        with:
          name: socle
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: "Build Orange Pi 5 image"
        run: nix build ./templates/orangepi-5x#nixosConfigurations.orangepi5.config.system.build.sdImage
      - name: "Add Orange Pi 5 image artifact"
        uses: actions/upload-artifact@v4
        with:
          name: orangepi5-sd-image-aarch64-linux.img.zst
          path: result/sd-image/nixos-sd-image-*-git-aarch64-linux.img.zst
      - name: "Build Orange Pi 5 Plus image"
        run: nix build ./templates/orangepi-5x#nixosConfigurations.orangepi5plus.config.system.build.sdImage
      - name: "Add Orange Pi 5 Plus image artifact"
        uses: actions/upload-artifact@v4
        with:
          name: orangepi5-plus-sd-image-aarch64-linux.img.zst
          path: result/sd-image/nixos-sd-image-*-git-aarch64-linux.img.zst
